@model Cumulative_1_N01627546.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<a class="navlink" href="/Teacher/List">Back To Teachers</a>
<div id="containershow">
    <h2>@Model.TeacherFName   @Model.TeacherLName</h2>
    <p>@Model.EmployeeNumber</p>
</div>

