@model IEnumerable<Cumulative_3_N01627546.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>

<div class="d-flex align-items-center mt-4">
    <a href="/Teacher/AddNew" class="btn btn-lg btn-outline-success">Add New Teacher</a>
    <form class="d-flex align-items-center ms-auto" method="GET" action="/Teacher/List">
        <input class="form-control-lg" name="searchKey" autocomplete="off" style="min-width: 600px; margin-right: 1em" type="search" placeholder="Search teachers" aria-label="Search">
        <button class="btn btn-lg btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="card mt-5">
    <div class="list-group list-group-flush">
        @foreach (Cumulative_3_N01627546.Models.Teacher teacher in Model)
        {
            <a href="/Teacher/Show/@teacher.TeacherId" class="list-group-item mt-2">
                @teacher.TeacherFName @teacher.TeacherLName
            </a>

        }
    </div>
</div>
