
@{
    ViewBag.Title = "Hello Class";
}

<h2>Choose a Course</h2>
<form method="GET" action="/Course/Show">
    <select name="CourseCode">
        <option value="5101">5101</option>
        <option value="5102">5102</option>
        <option value="5103">5103</option>
        <option value="5104">5104</option>
        <option value="5105">5105</option>
    </select>
    <input type="submit" value="Choose Course!" />
</form>