@model SeasonApp.Models.Course 

@{
    ViewBag.Title = "Show";
}

<h2>Show Course Information</h2>
<div>
    <label>Course Name: @Model.CourseName</label>
</div>
<div>
    <label>Course Description: @Model.CourseDesc!</label>
</div>
<div>
    <label>Course Code Pulled from HTML form: @Model.CourseCode</label>

</div>

