
@{
    ViewBag.Title = "Index";
}

<h2>Input a temperature</h2>

<form action="/Season/Show" method="POST">
    <input type="number" name="temperature"/>

    <input type="submit" value="View the Season!"/>
</form>

